body {
    background-color: lightgrey;
}

.header {
    background-color: darkturquoise;
    background-size: 100%;
    text-align: center;
    padding: 18px;
    font: 30px Georgia, sans-serif;
    color: white;
    text-shadow: 6px 3px #5b5656;
}

.topnav {
    overflow: hidden;
    background-color: whitesmoke;
}


    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font: 22px Georgia, sans-serif;
    }

        .topnav a:hover {
            background-color: darkturquoise;
            color: white;
        }

.toptitle h1 {
    text-align: center;
    font: 35px Georgia, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 350px;
    margin-right: 350px;
    background-color: darkturquoise;
    border: solid;
    border-radius: 15px;
}

.container {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: thick;
    border-style: solid;
    border-color: darkturquoise;
    background-color: whitesmoke;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
}

    .container h2 {
        color: black;
        font: 30px Georgia, sans-serif;
        font-weight: bold;
    }

.container1 {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: thick;
    border-style: solid;
    border-color: darkturquoise;
    background-color: whitesmoke;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 800px;
}

    .container1 h2 {
        color: black;
        font: 50px Georgia, sans-serif;
        font-weight: bold;
    }

    .container1 h3 {
        font: 35px Georgia, sans-serif;
        color: black;
    }

    .container1 a {
        text-decoration: none;
        font: 25px Georgia, sans-serif;
        text-align: center;
        color: black;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container1 embed {
        display: inline-block;
    }

.container2 {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: thick;
    border-style: solid;
    border-color: darkturquoise;
    background-color: whitesmoke;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
}

    .container2 h2 {
        color: black;
        font: 50px Georgia, sans-serif;
        font-weight: bold;
    }

    .container2 h3 {
        font: 35px Georgia, sans-serif;
        color: black;
    }

    .container2 a {
        text-decoration: none;
        font: 25px Georgia, sans-serif;
        text-align: center;
        color: black;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container2 embed {
        display: inline-block;
    }

.footer {
    position: fixed center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font: 12px Georgia, sans-serif;
}
