body {
    background-color: lightgrey;
}

.header {
    background-color: darkturquoise;
    background-size: 100%;
    text-align: center;
    padding: 18px;
    font: 30px Georgia, sans-serif;
    color: white;
    text-shadow: 6px 3px #5b5656;
}

.topnav {
    overflow: hidden;
    background-color: whitesmoke;
}


    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font: 22px Georgia, sans-serif;
    }

        .topnav a:hover {
            background-color: darkturquoise;
            color: white;
        }

.toptitle h1 {
    text-align: center;
    font: 35px Georgia, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: darkturquoise;
    border: solid;
    border-radius: 15px;
}

.row {
    border: thick;
    border-style: solid;
    border-color: slategrey;
    background-color: whitesmoke;
    margin-left: 60px;
    margin-right: 60px;
}

.column {
    float: left;
    width: 50%;

}

    .column h1 {
        text-align: center;
        font: 35px Georgia, sans-serif;
        font-weight: bold;
        text-decoration: underline;
        color: black;
    }

    .column .list ul {
        list-style-type: square;
        font: 27px Georgia, sans-serif;
        margin-left: 150px;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image img {
    display: inline-block;
    width: 75%;
    height: 75%;
    border: thick;
    border-style: solid;
    border-color: slategrey;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:150px;
    margin-right: 200px;
}

.footer {
    position: fixed center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font: 12px Georgia, sans-serif;
}
